@import "../../../../theming.scss";

.drag-and-drop {
  border: 2px dashed $secondary-color;
  border-radius: 20px;
  height: 200px;
  margin-top: 2rem;
}

h1, h3 {
  padding-top: 3rem;
}

h3 {
  font-size: 1.2rem;
}

.label-file {
  cursor: pointer;
  font-weight: bold;
  margin-top: 20px;
  font-size: 1rem;
}

.label-file:hover {
  font-size: 1.1rem;
}

.upload-div {
  margin-top: 50px;
}

.filename {
  margin-top: 1rem;
}

.generate-div {
  margin-top: 2rem;
}

.custom-margin-top {
  margin-top: 2rem;
}
